@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Comforter&family=Merienda&family=Solway&display=swap');
$expansion-panel-content-padding: 0 0 0px !default;
$card-title-word-break: normal !important;
$body-font-family: 'Merienda', cursive !important;

